<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Title Here</title>

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}" />
    {% block stylesheet %} {% endblock stylesheet %}
  </head>
  <body>
    <nav class="nav">
      <div>
        <ul>
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'home' %}">Home</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'user_logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'user_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="content">{% block body_block %} {% endblock body_block %}</div>
  </body>
</html>
