{% extends "account/base.html" %} 
{% load static %} {% block stylesheet %}

<link rel="stylesheet" type="text/css" href="{% static 'CSS/registeration.css' %}" />
{% endblock stylesheet %}

{% block body_block %} {% if registered %}
<h1>Thanks for registering</h1>
{% else %}
<div class='container'>
  <h1>Register here!</h1>
  <h3>Fill out the registration form:</h3>
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %} {{ user_form.as_p }} {{ profile_form.as_p }}
    <input type="submit" name="" class="register-button" value="registered" />
  </form>
</sdiv>

{% endif %} {% endblock body_block %}
